.navbar {
    background-color: #fafbfb;
}


.dropdownToggle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    border: 0;
    border-radius: 0;
}

.dropdownToggle{
    border: 0 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size:1rem;
    background-position: center right;
    margin-left: 10px;
    transition: transform 0.2s ease-in-out;
}

.dropdownToggle::after{
    border: 0 !important;
}

.cursorPointer {
    cursor: pointer !important;
}